# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space

[BUILD]
indent_size = 4

[Makefile]
indent_style = tab

[*.{h,c}]
indent_size = 2

[*.md]
indent_size = 2

[*.sh]
indent_size = 2

[*.yml]
indent_size = 2
