*.o
*.swp
*.pyc
*.gcda
*.gcno
*.info
*_coverage
bazel-*
core
test_dracula_view
test_game_view
test_hunter_view
tap_dracula_view
tap_game_view
tap_hunter_view
generate_mapdata
mapdata.*
dracula_ai
hunter_ai
test_ai.log
test
nn_features
in
do_not_upload
submit_p1
submit_p2
